<section>
    <div class="info px-8">
        <div class="info-left">
            <div *ngIf="user === null" class="info-left-name">
                <h1>hi, i am john,</h1>
                <h1>Creative Technologist</h1>
            </div>
            <div *ngIf="user !== null" class="info-left-name">
                <h1>hi, {{user.name}},</h1>
                <h1>Creative Technologist</h1>
            </div>
            <div class="info-left-text pt-2">
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="info-left-nickname pt-1 right">
                <p>Figma, Icon Design</p>
            </div>
            <button>Download Resume</button>
        </div>
        <div class="info-right">
            <div class="image">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Ellipse_1_u63b80.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="recent-posts px-8">
        <div class="post-title">
            <h4>Recent posts</h4>
            <a href="">View all</a>
        </div>
        <div class="post-box">
            <div class="box-content">
                <h2>Making a design system from scratch</h2>
                <div class="content-meta pt-2">
                    <span>12 Feb 2020</span>
                    <span class="s">|</span>
                    <a href="" class="ml-3"> Design, Pattern</a>
                </div>
                <p class="pt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet
                    minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
            <div class="box-content w-full">
                <h2>Creating pixel perfect icons in Figma</h2>
                <div class="content-meta pt-2">
                    <span>12 Feb 2020</span>
                    <span class="s">|</span>
                    <a href="" class="ml-3"> Design, Pattern</a>
                </div>
                <p class="pt-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.Amet
                    minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                    officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
    </div>
    <div class="featured-works px-8">
        <div class="featured-title">
            <p>Featured works</p>
        </div>
        <div *ngFor="let product of products; let i = index">
            <div class="featured-box">
                <div class="box-left">
                    <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931770/Rectangle_30_qyhhbq.png"
                        alt="">
                </div>
                <div class="box-right">
                    <h3>{{ product.name }}</h3>
                    <div class="year-dash">
                        <span class="box-year">
                            {{ product.price }}
                        </span>
                        <div class="box-dashboard">
                            {{ product.status ? "Còn hàng" : "Hết hàng" }}
                        </div>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                        duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>
            </div>
            <hr>
        </div>
        <!-- <div class="featured-box">
            <div class="box-left">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Rectangle_32_tgo5um.jpg" alt="">
            </div>
            <div class="box-right">
                <h3>Vibrant Portraits of 2020</h3>
                <div class="year-dash">

                    <span class="box-year">
                        2022
                    </span>
                    <div class="box-dashboard">
                        Illustration
                    </div>
                </div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr>
        <div class="featured-box">
            <div class="box-left">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Rectangle_34_dfrfjj.jpg" alt="">
            </div>
            <div class="box-right">
                <h3>36 Days of Malayalam type</h3>
                <div class="year-dash">
                    <span class="box-year">
                        2022
                    </span>
                    <div class="box-dashboard">
                        Typography
                    </div>
                </div>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat
                    duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
        </div>
        <hr> -->
    </div>
</section>