<section>
    <div class="work">
        <div class="work-title">
            <h2>Work</h2>
        </div>
        <div class="work-content">
            <div *ngFor="let product of products">
                <div class="box-content">
                    <div class="content-left">
                        <a routerLink='/works/{{product.id}}'>
                            <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931770/Rectangle_30_qyhhbq.png"
                                alt="">
                        </a>
                    </div>
                    <div class="content-right">
                        <a routerLink='/works/{{ product.id }}'>
                            <h3>{{ product.name }}</h3>
                        </a>
                        <div class="content-span">
                            <span>{{ product.price }}</span>
                            <a href="">{{ product.status }}</a>
                        </div>
                        <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                            consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</section>