<section>
    <div class="work">
        <div class="work-title">
            <h2>Work</h2>
        </div>
        <div class="work-content">
            <div class="box-content">
                <div class="content-left">
                    <a routerLink="/works_detail">
                        <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931770/Rectangle_30_qyhhbq.png" alt="">
                    </a>
                </div>
                <div class="content-right">
                    <h2>Designing Dashboards</h2>
                    <div class="content-span">
                        <span>2022</span>
                        <a href="">Dashboard</a>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <hr />
            <div class="box-content">
                <div class="content-left">
                    <a routerLink="/works_detail">
                        <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Rectangle_32_tgo5um.jpg" alt="">
                    </a>
                </div>
                <div class="content-right">
                    <h2>Designing Dashboards</h2>
                    <div class="content-span">
                        <span>2022</span>
                        <a href="">Illustration</a>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <hr />
            <div class="box-content">
                <div class="content-left">
                    <a routerLink="/works_detail">
                        <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Rectangle_34_dfrfjj.jpg" alt="">
                    </a>
                </div>
                <div class="content-right">
                    <h2>Designing Dashboards</h2>
                    <div class="content-span">
                        <span>2022</span>
                        <a href="">Typography</a>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <hr />
            <div class="box-content">
                <div class="content-left">
                    <a routerLink="/works_detail">
                        <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931768/Rectangle_40_gmmdo6.png" alt="">
                    </a>
                </div>
                <div class="content-right">
                    <h2>Designing Dashboards</h2>
                    <div class="content-span">
                        <span>2022</span>
                        <a href="">Components, Design</a>
                    </div>
                    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                        consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </div>

            </div>
            <hr />
        </div>
    </div>
</section>