<nz-table>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a nz-button nzType="primary" routerLink="/admin/product/edit/{{user.id}}">Edit</a>
                <button nz-button nzType="default" nzDanger (click)="deleteUser(user.id!)">Remove</button>
            </td>
        </tr>
    </tbody>
</nz-table>