<section>
    <div class="blog">
        <div class="title-blog">
            <h2>Blog</h2>
        </div>
        <div class="blog-content">
            <div *ngFor="let blog of blogs; let i = index" class="content-box">
                <h3>{{ blog.title }}</h3>
                <div class="content-box__meta">
                    <span>12 Feb 2019</span>
                    <span class="span2">|</span>
                    <a href="">Express, Handlebars</a>
                </div>
                <p>{{ blog.desc }}</p>
                <hr>
            </div>
        </div>
    </div>
</section>