.footer {
    width: 100%;
    margin-top: 100px;
    text-align: center;
}
.footer-icon {
    display: flex;
    justify-content: center;
    
}
.footer-icon span {
    margin-left: 18px;
}
.footer-copyright {
    margin-top: 15px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: 14px;
    margin-left: 13px;
}
