<footer>
    <div class="footer">
        <div class="footer-icon">
            <span>
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931768/fb_maynwo.png" alt="">
            </span>
            <span class="span">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Linkedin_ftyxgc.png" alt="">
            </span>
            <span class="span">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Group_ukigga.png" alt="">
            </span>
            <span class="span">
                <img src="https://res.cloudinary.com/dd0io3fh2/image/upload/v1654931769/Linkedin_ftyxgc.png" alt="">
            </span>
        </div>
        <div class="footer-copyright">
            <p>Copyright ©2020 All rights reserved </p>
        </div>
    </div>
</footer>