<footer>
    <div class="footer">
        <div class="footer-icon">
            <span>
                <img src="img/fb.png" alt="">
            </span>
            <span class="span">
                <img src="img/insta.png" alt="">
            </span>
            <span class="span">
                <img src="img/Group.png" alt="">
            </span>
            <span class="span">
                <img src="img/Linkedin.png" alt="">
            </span>
        </div>
        <div class="footer-copyright">
            <p>Copyright ©2020 All rights reserved </p>
        </div>
    </div>
</footer>